* {
  box-sizing: border-box;
  font-size: 1.5rem;
}

#arena {
  min-height: 70vh;
  width: 100%;
  border: 2px solid red;
  position: relative;
}

.gameEnded {
  background-color: rgba(0,0,0,0.2);
}

.paused {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
   animation-play-state:paused;
}


      @keyframes fallToBottom {
             0% {
                 top: 0;
             }

             100% {
                 top: 61vh;
             }
         }

         @-webkit-keyframes fallToBottom {
             0% {
                 top: 0;
             }

             100% {
                 top: 61vh;
             }
         }

         .word {
           display: inline-block;
           background-color: yellow;
           padding: 5px 5px;
           color: black;
           border-radius: 25% 10%;
           position: absolute;
           /*top: 444px;*/
           top: 61vh;
           /** animation **/
           animation-name: fallToBottom;
           animation-duration: 8s;
           animation-timing-function: linear;
           /* vendor prefixes */
           -webkit-animation-name: fallToBottom;
           -webkit-animation-duration: 8s;
         }
