/** words **/
@keyframes fallToBottom {
 0% {
   top: 0;
 }

 100% {
   top: calc(70vh - 55px);
 }
}

@-webkit-keyframes fallToBottom {
 0% {
   top: 0;
 }

 100% {
   top: calc(70vh - 55px);
 }
}

.paused {
 -webkit-animation-play-state:paused;
 -moz-animation-play-state:paused;
 -o-animation-play-state:paused;
 animation-play-state:paused;
}

.word {
 animation-name: fallToBottom;
 animation-duration: 7s;
 animation-timing-function: linear;
 -webkit-animation-name: fallToBottom;
 -webkit-animation-duration: 7s;
}

/** buttons **/
@keyframes growInSize {
 0% {
     transform: scale(1);
 }

 100% {
     transform: scale(1.05);
 }
}

@-webkit-keyframes growInSize {
 0% {
     transform: scale(1);
 }

 100% {
     transform: scale(1.05);
 }
}

button {
 animation-name: growInSize;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 -webkit-animation-name: growInSize;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: infinite;
}
