/*** universal styles ***/
* {
  box-sizing: border-box;
}

/*** general layout ***/
#arena {
  height: 70vh;
  width: 100%;
  border-bottom: 5px solid red;
  position: relative;
}

/*** starting screen ***/
#starting-screen {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index:2;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgb(255,255,255);
}

h1 {
  font-size: 4rem;
  color: rgb(221, 21, 11);
  font-weight: bold;
}

/*** final screen ***/
.final {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index:2;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.3);
}

.wrapper {
  display: inline-block;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: rgb(255,255,255);
  padding: 1rem;
  border: 2px solid blue;
}

h2 {
  font-size: 3rem;
  color: rgb(221, 21, 11);
  font-weight: bold;
}

p {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button {
  font-size: 2rem;
  padding: 5px 8px;
  background-color: rgb(31, 133, 222);
  border-radius: 15% 15%;
  border: 2px solid black;
}

button:hover {
  color: rgb(231, 227, 15);
}

/*** words ***/
.word {
  display: inline-block;
  background-color: yellow;
  font-size: 2.5rem;
  padding: 5px 5px;
  color: black;
  border-radius: 25% 10%;
  position: absolute;
  top: calc(70vh - 55px);
}

.container {
  text-align: center;
}

/** messages **/
 #messages {
   display: inline-block;
   width: auto;
   padding: 10px;
   margin-top: 20px;
   text-align: center;
   border-radius: 25% 10%;
   background-color: rgb(31, 133, 222);
 }

 #messages p {
   margin-left: 10px;
 }

 .unit {
   color: yellow;
   font-weight: bold;
 }

 /*** animations ***/
 /** words **/
@keyframes fallToBottom {
  0% {
    top: 0;
  }

  100% {
    top: calc(70vh - 55px);
  }
}

@-webkit-keyframes fallToBottom {
  0% {
    top: 0;
  }

  100% {
    top: calc(70vh - 55px);
  }
}

.paused {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

.word {
  animation-name: fallToBottom;
  animation-duration: 7s;
  animation-timing-function: linear;
  -webkit-animation-name: fallToBottom;
  -webkit-animation-duration: 7s;
}

/** buttons **/
@keyframes growInSize {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.05);
  }
}

@-webkit-keyframes growInSize {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.05);
  }
}

button {
  animation-name: growInSize;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: growInSize;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
